<!-- new dashboard  -->

<div class="container-fluid">
    <div class="container-1">
        <!-- heading  -->
        <div class="heading-1">
            <div class="navbar-1">
                <div class="nav-part1">
                    <h1> Financial Fortress</h1>
                </div>
                <div class="nav-part2">
                    <span>{{user}}</span>
                    <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown"
                        aria-expanded="false">
                        <img src="../../assets/images/user1.png" alt="">
                    </button>
                    <div class="dropdown">
                        <ul class="dropdown-menu bg-danger">
                            <li><button class="btn text-white p-1" type="button" (click)="delete()">Delete
                                    Account</button>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="heading-2" [ngClass]="acno? 'style1': '' ">
                <div class="head-p1">
                    <p>{{sDate | date}}</p>
                    <div class="balance">
                        Balance : ₹ {{balance}}
                    </div>
                </div>
                <div class="head-p2">
                    <button type="button" (click)="logout()"
                        class="btn btn-secondary text-white mb-4 p-2">LOGOUT</button>
                    <br>
                    <a routerLink="/trasaction">View Transactions</a>
                </div>
            </div>
        </div>
        <!-- heading end  -->

        <app-delete [item]="acno" (Oncancel)="onCancel()" (OnDelete)="onDelete($event)"></app-delete>
 
        <div class="container-fluid p-3" [ngClass]="acno? 'style1': '' ">
            <div class="container-fluid bg-white rounded section-1">
                <div class="part1 py-5">
                    <div class="dw-body">
                        <div class="dw-header p-2">
                            <h1 class="text-white text-center">Deposit</h1>
                        </div>
                        <form action="" [formGroup]="depositForm">
                            <input type="text" formControlName="acno" name="accountNumber" id="dpAcno"
                                placeholder="Enter Your Account Number">
                            <div *ngIf="this.depositForm.get('acno')?.errors && this.depositForm.get('acno')?.touched"
                                class="text-danger ps-5">invalid account number</div>


                            <input type="password" formControlName="pswd" name="password" id="dpPswd"
                                placeholder="Enter Your Account Password">
                            <div *ngIf="this.depositForm.get('pswd')?.errors && this.depositForm.get('pswd')?.touched"
                                class="text-danger ps-5">invalid password </div>

                            <input type="text" formControlName="dAmt" name="depositAmount" id="dpAmount" class="mb-4"
                                placeholder="Enter Deposit Amount">
                            <div *ngIf="this.depositForm.get('dAmt')?.errors && this.depositForm.get('dAmt')?.touched"
                                class="text-danger ps-5">invalid amount</div>

                            <button type="submit" (click)="deposit()">Deposit</button>
                        </form>
                    </div>
                </div>
                <div class="part2 py-5">
                    <div class="dw-body">
                        <div class="dw-header p-2">
                            <h1 class="text-white text-center">Withdraw</h1>
                        </div>
                        <form action="" [formGroup]="withdrawForm">
                            <input type="text" formControlName="acno1" name="accountNumber" id="wtAcno"
                                placeholder="Enter Your Account Number">
                            <div *ngIf="this.withdrawForm.get('acno1')?.errors && this.withdrawForm.get('acno1')?.touched"
                                class="text-danger ps-5">invalid account number</div>

                            <input type="password" formControlName="pswd1" name="password" id="wtPswd"
                                placeholder="Enter Your Account Password">
                            <div *ngIf="this.withdrawForm.get('pswd1')?.errors && this.withdrawForm.get('pswd1')?.touched"
                                class="text-danger ps-5">invalid password</div>

                            <input type="text" formControlName="wAmt" name="withdrawAmount" id="wtAmount" class="mb-4"
                                placeholder="Enter Withdraw Amount">
                            <div *ngIf="this.withdrawForm.get('wAmt')?.errors && this.withdrawForm.get('wAmt')?.touched"
                                class="text-danger ps-5">invalid Amount</div>

                            <button type="submit" (click)="withdraw()">Withdraw</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>


        <div class="container-fluid p-3" [ngStyle]="{'display':displayAboutUs}">
            <div class="container-fluid bg-white rounded p-3">
                <h3 class="text-center ">About Us</h3>
                <div class="row">
                    <div class="col text-end">
                        <button type="button" (click)="hideAbout()" class="btn  px-3 m-3"><img src="../../assets/images/multiply.png" style="width:30px" alt=""></button>
                    </div>
                </div>
                <div class="container-fluid bg-light rounded p-3">
                    <p class="" style=" line-height:30px">Founded in 2XXX, our bank has been providing high-quality financial services to individuals and
                        businesses in India for over number of years. Our mission is to help our customers achieve
                        their financial goals by providing expert guidance, personalized attention, and a wide range of
                        financial products and services to meet their needs.

                        We believe in putting our customers first, and we are committed to providing exceptional
                        customer service at every step of the way. Whether you are opening a new account, applying for a
                        loan, or seeking advice on investment strategies, our team of experienced professionals is here
                        to help.

                        Our bank is also committed to giving back to the communities we serve. We believe that strong
                        communities are built on a foundation of strong businesses and responsible financial practices,
                        and we are proud to support local initiatives and charities that promote economic growth and
                        social well-being.

                        At our bank, we understand that managing your finances can be complex and overwhelming at times.
                        That's why we are dedicated to providing you with the tools, resources, and support you need to
                        make informed financial decisions and achieve your goals. Thank you for choosing us as your
                        financial partner.</p>
                </div>
            </div>
        </div>


        <footer style="background-color: #1c2331">
            <div class="container mx-auto p-5 text-white">
                <div class="row px-3">
                    <div class="col-md-4 mb-5">
                        <h6 class="text-uppercase fw-bold mb-4">Links</h6>
                        <p>
                            <a routerLink="/trasaction" type="button" class="text-white">View Transactions</a>
                        </p>

                    </div>
                    <div class="col-md-4 mb-5">
                        <h6 class="text-uppercase fw-bold mb-4">About Us</h6>
                        <p>
                            <button type="button" (click)="showAbout()" class="text-white">Financial Fortress</button>
                        </p>
                    </div>
                    <div class="col-md-4 mb-5">
                        <h6 class="text-uppercase fw-bold  mb-4">Contact</h6>
                        <p><i class="fas fa-home mr-3 "></i> North Paravoor, KL, INDIA</p>
                        <p><i class="fas fa-envelope mr-3"></i> financial.fortress@example.com</p>
                        <p><i class="fas fa-phone mr-3"></i> +91 12345678</p>
                    </div>
                </div>
            </div>
            <div class="text-center text-white p-3" style="background-color: rgba(0, 0, 0, 0.2)">
                © 2023 Copyright:
                <a class="text-white" href="">FinancialFortress.com</a>
            </div>
        </footer>
    </div>
</div>