<!-- Register -->
<div class="container-1">
  <div class="register">
    <div class="reg-intro">
      <h2>Zhanibek's</h2>
      <h1>Bank</h1>
      <p>Welcome to Zhanibek's bank. A small project created as a final task at Narxoz University.</p>
    </div>

    <div class="reg-form">
      <h1>Create Account</h1>
      <form [formGroup]="registerForm" (ngSubmit)="register()">
        <label for="regAcno">Account Number</label>
        <input
          type="text"
          id="regAcno"
          formControlName="acno"
          placeholder="Enter Your Account Number"
        />
        <div
          *ngIf="registerForm.get('acno')?.errors && registerForm.get('acno')?.touched"
          style="color: #ff4343;"
        >
          Invalid account number
        </div>

        <label for="regUname">Username</label>
        <input
          type="text"
          id="regUname"
          formControlName="uname"
          placeholder="Enter Username"
        />
        <div
          *ngIf="registerForm.get('uname')?.errors && registerForm.get('uname')?.touched"
          style="color: #ff4343;"
        >
          Invalid username
        </div>

        <label for="regPswd">Password</label>
        <input
          type="password"
          id="regPswd"
          formControlName="pswd"
          placeholder="Enter Password"
        />
        <div
          *ngIf="registerForm.get('pswd')?.errors && registerForm.get('pswd')?.touched"
          style="color: #ff4343;"
        >
          Invalid password
        </div>

        <button type="submit">Register</button>

        <p>Already have an account? <a routerLink="/">Sign In</a></p>
      </form>
    </div>
  </div>
</div>
