<!-- Login -->
<div class="container-1">
  <h1 class="head1">Zhanibek's Bank</h1>
  <h2 class="head2">{{ aim }}</h2>
  <h3 class="head2">Narxoz University's Final</h3>

  <div class="login">
    <img src="../../assets/images/bank.png" alt="Bank Logo">
    <h1 class="head3">Login</h1>

    <form [formGroup]="loginForm">
      <div class="form-group">
        <label for="loginAcno">Account Number</label>
        <input
          type="text"
          id="loginAcno"
          name="accountNumber"
          formControlName="acno"
          [placeholder]="account"
        />
        <div
          *ngIf="loginForm.get('acno')?.errors && loginForm.get('acno')?.touched"
          style="color: #ff4343;"
        >
          Invalid account number
        </div>
      </div>

      <div class="form-group">
        <label for="loginPswd">Password</label>
        <input
          type="password"
          id="loginPswd"
          name="password"
          formControlName="pswd"
          placeholder="Enter Your Account Password"
        />
        <div
          *ngIf="loginForm.get('pswd')?.errors && loginForm.get('pswd')?.touched"
          style="color: #ff4343;"
        >
          Invalid password
        </div>
      </div>

      <button type="submit" (click)="login()">Login</button>

      <div class="link">
        <p>
          Don't have an account?
          <a routerLink="register">Register</a>
        </p>
      </div>
    </form>
  </div>
</div>
