@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Ubuntu', sans-serif;
}

.container-1 {
    width: 100%;
    height: 100vh;
    background: linear-gradient(50deg, #088F8F 0%, #182848 100%);
    padding-top: 12px;
}

.head1 {
    text-align: center;
    font-size: 60px;
    background: -webkit-linear-gradient(#fcfff3, #899ac2);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    letter-spacing: 2px;

}

.head2 {
    text-align: center;
    color: rgb(228, 221, 221);
    font-family: 'Roboto', sans-serif;
}

.login {
    width: 500px;
    height: auto;
    margin: auto;
    margin-top: 40px;
    background-color: #e4dada;
    box-shadow: rgba(255, 255, 255, 0.15) 0px 5px 15px 0px;
    border-radius: 10px;

    padding: 10px 40px;
    padding-bottom: 40px;
}

img {
    width: 75px;
    display: block;
    margin: auto;

}

.head3 {
    font-family: 'Noto Serif', serif;
    text-align: center;
    color: #0e8a60;
    padding: 10px 0;
    letter-spacing: 3px;
    font-size: 35px;
}

label {
    color: #0e8a60;
}

input {
    width: 100%;
    display: block;
    margin: auto;
    padding: 10px;
    height: 40px;
    border-radius: 10px;
    border: 1px solid rgb(184, 178, 178);
    outline: none;
}
input::placeholder {
    color: gray;
}

input:focus::placeholder {
    color: rgb(185, 185, 197);
}

.link p{
    color: #0e8a60;
}
.link a {
    color: #147756;
}
button {
    color: white;
    background-color: #0e8a60;

    padding: 6px 12px;
    font-size: 110%;
    border-radius: 10px;
    border: 1px solid rgb(173, 167, 167);
    display: block;
    margin: auto;
    transition: .5s;

}

button:hover {
    color: #0e8a60;
    background-color: #8ee5c4;
}










@media (min-width:768px) and (max-width:1023px) {
    .container {
        padding-top: 80px;
    }
}

@media (max-width:767px) {
    .login {
        width: 80%;
    }

    .head1 {
        font-size: 36px;
    }

    .head2 {
        font-size: 17px;
    }

    img {
        width: 50px;
    }

    .head3 {
        font-size: 30px;
    }

    label {
        font-size: 14px;
    }

    ::placeholder {
        font-size: 12px;
    }

    .container {
        padding-top: 25px;
    }
}